<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="mainimg">
  <div class="maintxt">
  <h1>
    Oops! If you're trying to <a href = "/login">login</a> make sure your username and password are correct.
    If you're trying to <a href = "/register">register</a> make sure your passwords match, but if you're still getting errors.
    Use a different username.
  </h1

  </div>
  </div>
</body>
</html>