<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
<title>
  Let it Go!
</title>
</head>
<body>
<div class = "mainimg">
<div class = "maintxt">
  <h1>“The problem is not the problem. The problem is the incredible amount of overthinking you’re doing with the problem. Let it go and be free.”</h1>
    <p>-Marc&Angel</p>
    <div id = "container">
    <form action= /LetItGo method ="GET">
    <input type="submit" id = "go" value= "Proceed Anonymously">
    </form>
    <form action= /login method ="GET">
    <input type="submit" id ="go" value= "Register/Login">
    </div>
  </form>
</div>
</div>

</body>
</html>