<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <div class="letting">
        <form action="/register" method="post">
            <input name="username" placeholder="Username" type="text">
            <input name="password" placeholder="Password" type="password">
            <input name="confirmation" placeholder="Password (again)" type="password">
             <input type="submit" id = "button" value= "Register">
        </form>
     </div>
</body>
</html>