<!DOCTYPE html>


<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="mainimg">
  <div class="maintxt">
  <h1>
    Dear {{ name }}, Congratulations for letting whatever was on your mind go. Your mind is now
    free to focus on other things. Before you go, please follow along <a href= https://youtu.be/f-miFtLRnUE>this meditation</a> to be better prepared
    to conquer the rest of your day.
  </h1

  </div>
  </div>
</body>
</html>